body{
    background-image:url("img/background.jpg") ;
    background-color: black;
    background-size:cover;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
}

main{
    width:50%;
    margin:100px;
    text-align: center;
}

#boasVindas{
    text-align: left;
    margin-top: 100px;
    text-align: center;
}



button{
    text-align: center;
    margin-top: 40px;
}

#container{
    display:flex;
    justify-content: space-between;
    height:auto;

}

#corretas{
    width:45%;
    background-color: rgba(128, 128, 128, 0.787);
    
}

#corretas h3{
    color:lime;
}

#erradas h3{
    color:rgb(175, 29, 29);
}

#erradas{
    width:45%;
    background-color: rgba(128, 128, 128, 0.787);
    
}



